%li.card
  = link_to board_task_path(board_id: task.board_id, id: task), class: "card_link" do
    - if task.image.attached?
      .card_img
        = image_tag task.image
    .card_content
      .card_detail
        %p.card_detail_title
          = task.title
        %p.card_detail_content
          = task.content
      .card_item
        .card_icon.group
          = image_tag task.user.avatar_image, class: "icon_small"
          - task.comments_from_other_users.each do |comment|
            = image_tag comment.user.avatar_image, class: "icon_small"
        .card_message
          %span 23
          = image_tag 'message'

