%ul.error_messages
  - task.errors.full_messages.each do |message|
    %li.error_message= message
= form_with(model: [board, task], local: true) do |f|
  %div
    = f.label :title, 'Name'
  %div
    = f.text_field :title, class: "text"
  %div.form_mt_large
    = f.label :content, 'Description'
  %div
    = f.text_area :content, class: "text"
  %div.form_mt_normal
    = f.label :deadline, 'Deadline'
  %div
    = f.date_field :deadline, class: "text"
  %div.form_mt_middle
    = f.label :image, 'Image'
    %span.optional *optional
  %div
    = f.file_field :image, class: "image"
  .actions
    = f.submit "Submit", class: "btn-primary"