.container
  %h2.task_top
    .task_top_title= @task.title
    - if user_signed_in? && current_user.has_written_task?(@task)
      .task_top_edit
        .dropdown
          = image_tag 'combined_shape', class: 'edit'
          .dropdown-content.mini
            = link_to 'Edit', edit_board_task_path(board_id: @board, id: @task)
            = link_to 'Delete', board_task_path(board_id: @board, id: @task), data: { turbo_method: :delete, turbo_confirm: '本当に削除してもよろしいですか？' }

  %section.task
    - if @task.image.attached?
      .task_img
        = image_tag @task.image
    .task_content
      %p= @task.content
    .task_deadline
      %p= "D/L: #{@task.deadline}"

  %section.comments
    %h3 Comment
    %ul.comments_list
      - @comments.each do |comment|
        = render 'comment', comment: comment
    .comments_new
      = link_to '+ Add new comment', new_board_task_comment_path(board_id: @board, task_id: @task), class: "card_link_new"