%li.card
  = link_to board_path(board), class: "card_link" do
    .card_content
      .card_detail
        %p.card_detail_title
          = board.title
        %p.card_detail_content
          = board.content
      .card_icon
        = image_tag board.user.avatar_image, class: "icon_small"

  - if user_signed_in? && current_user.has_written_board?(board)
    .card_edit
      .dropdown
        = image_tag 'combined_shape', class: "edit"
        .dropdown-content.mini
          = link_to 'Edit', edit_board_path(board)
          = link_to 'Delete', board_path(board), data: { turbo_method: :delete, turbo_confirm: '本当に削除してもよろしいですか？' }